<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.childaplic.mosaic">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name='android.permission.WAKE_LOCK'/>
    <uses-permission android:name="android.permission.VIBRATE"/>

    <application
        android:name=".app.MosaicApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.splash.SplashActivity"
            android:noHistory="true"
            android:theme="@style/SplashTheme"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.main.MainActivity"
            android:screenOrientation="landscape"
            android:launchMode="singleTop"/>

        <activity
            android:name=".ui.payment.PaymentActivity"
            android:screenOrientation="landscape" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="15abbe116f174a4a05a716869e42f83a6e9f5e0c" />

        <meta-data
            android:name="com.google.android.gms.wallet.api.enabled"
            android:value="true" />

        <!--<receiver android:name=".broadcasts.AlarmNotificationPublisher" />-->
        <!--<receiver android:name=".broadcasts.AlarmNotificationReceiver"/>-->

        <!--<receiver-->
            <!--android:name=".broadcasts.ReferrerReceiver"-->
            <!--android:exported="true">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.android.vending.INSTALL_REFERRER" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->
    </application>

</manifest>
